<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property
-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous. -->

<Configuration status="WARN">
    <Appenders>

        <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RollingFile name="DailyLog"
                     filePattern="logs/%d{yyyy-MM-dd}.log"
                     immediateFlush="true" append="true">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="false"/>
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <Root level="info" includeLocation="false">
            <AppenderRef ref="DailyLog"/>
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
